h1 {
    font-family: Arial, sans-serif;
    color: red;
  }

  p {
    font-size: 16px;
    font-family: Helvetica, serif;
  }
    h2 {
        color: blue;
    }
    h3 {
        color: green;
    }
    ul {
        color: gray;
        font-family: monospace;
        font-size: larger;
    }